*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-end{
    justify-content:flex-end;
}
.align-items-center{
    align-items: center;
}
.align-items-between{
    align-items: space-between;
}
.padding{
    padding: 0!important;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.text-align-center{
    text-align: center;
}